<% content_for :additional_styles do -%>
  <style>
    <% mobile = '' %>
    <% desktop = '' %>
    <% @page.number_rows_mobile.times { mobile.concat('1fr ') } %>
    <% @page.number_rows_desktop.times { desktop.concat('1fr ') } %>
    .images {
      grid-template-columns: <%= mobile %>
    }
    .image-section {
      margin: auto;
    }
    .image-section img {
      width: calc((88vw - <%= @page.number_rows_mobile %>vw) / <%= @page.number_rows_mobile %>);
      height: calc(((88vw - <%=  @page.number_rows_mobile %>vw) / <%=  @page.number_rows_mobile %>) * <%= @page.image_height %> / <%= @page.image_width %>);
      object-fit: cover;
    }

    @media screen and (min-width: 760px) {
      .images {
        grid-template-columns: <%= desktop %>
      }
      .image-section {
        margin: 1vw 0.5vw 0;
        min-width: fit-content;
        width: calc(100% / <%= @page.number_rows_desktop %> - ((<%= @page.number_rows_desktop %> - 1) * 1vw));
      }
      .image-section img {
        width: calc((88vw - <%= @page.number_rows_desktop %>vw) / <%= @page.number_rows_desktop %>);
        height: calc(((88vw - <%= @page.number_rows_desktop %>vw) / <%= @page.number_rows_desktop %>) * <%= @page.image_height %> / <%= @page.image_width %>);
      }
    }
  </style>
<% end -%>

<section class="show">
  <div class="top-show">
    <h1><%= @page.title %></h1>
    <h5>@imkfmnn on instagram</h5>
    <% if @page.models_name.present? && @page.models_instagram.present? %>
      <p class="model">model: <%= @page.models_name %> // <%= @page.models_instagram %></p>
    <% end %>
  </div>
  <% if @page.is_slider %>
     <div id="caroussel">
      <%= react_component('ImageCarousel', images: @page.photos.sort_order.map(&:image) ) %>
    </div>
  <% else %>
    <div class="images">
      <% @page.photos.sort_order.map do |photo| %>
        <div class="image-section" >
          <%= cl_image_tag photo.image %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @prev_page.blank? && @next_page.present? %>
    <div class="scroller" style="justify-content: flex-end">
      <%= link_to "#{@next_page.slug}" do %>
        <div class="scroller-section">
          <h5 class="subtitle"><%= @next_page.title %></h5>
          <h5>
            <i class="fas fa-chevron-right"></i>
          </h5>
        </div>
      <% end %>
    </div>
  <% elsif @prev_page.present? && @next_page.present? %>
    <div class="scroller">
      <%= link_to "#{@prev_page.slug}" do %>
        <div class="scroller-section">
          <h5>
            <i class="fas fa-chevron-left"></i>
          </h5>
          <h5 class="subtitle"><%= @prev_page.title %></h5>
        </div>
      <% end %>
      <%= link_to "#{@next_page.slug}" do %>
        <div class="scroller-section">
          <h5 class="subtitle"><%= @next_page.title %></h5>
          <h5>
            <i class="fas fa-chevron-right"></i>
          </h5>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="scroller">
      <%= link_to "#{@prev_page.slug}" do %>
        <div class="scroller-section">
          <h5>
            <i class="fas fa-chevron-left"></i>
          </h5>
          <h5 class="subtitle"><%= @prev_page.title %></h5>
        </div>
      <% end %>
    </div>
  <% end %>
</section>