<section class="work">
  <div class="work-grid">
    <div class="image-section">
      <%= link_to caroline_path() do %>
        <%= image_tag 'caroline/7.jpg' %>
        <h2 class="subtitle">Caroline</h2>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to peace_path() do %>
        <%= image_tag 'peace/1.jpg' %>
        <h2 class="subtitle">The battle for peace</h2>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to fire_path() do %>
        <%= image_tag 'fire/1.jpg' %>
        <h2 class="subtitle">I saw fire</h2>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to randoms_path() do %>
        <%= image_tag 'randoms/2.jpg' %>
        <h2 class="subtitle">Random Shots</h2>
      <% end %>
    </div>
  </div>
  <div class="work-about">
    <div class="about-header">
      <h3>
        Guilherme Kaufmann is a Lisbon-based photographer and art director.
        With a creative and elegant aesthetic, he photographs a diverse range
        of topics for commercial and editorial clients.
      </h3>
      <h3>lets work together</h3>
    </div>
    <div class="about-bottom">
      <p>contact:</p>
      <p>kaufmann.g99@gmail.com</p>
    </div>
  </div>
</section>
