<section class="work">
  <div class="work-grid">
    <div class="image-section">
      <%= link_to caroline_path() do %>
        <%= image_tag 'caroline/07.jpg' %>
        <h4 class="subtitle">Caroline</h4>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to peace_path() do %>
        <%= image_tag 'peace/01.jpg' %>
        <h4 class="subtitle">The battle for peace</h4>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to fire_path() do %>
        <%= image_tag 'fire/01.jpg' %>
        <h4 class="subtitle">I saw fire</h4>
      <% end %>
    </div>
    <div class="image-section">
      <%= link_to randoms_path() do %>
        <%= image_tag 'randoms/02.jpg' %>
        <h4 class="subtitle">Random Shots</h4>
      <% end %>
    </div>
  </div>
  <div class="work-about">
    <div class="about-header">
      <h5>
        Guilherme Kaufmann is a Lisbon-based photographer and art director.
        With a creative and elegant aesthetic, he photographs a diverse range
        of topics for commercial and editorial clients.
      </h5>
      <br>
      <h5>lets work together</h5>
    </div>
    <div class="about-bottom">
      <p>contact:</p>
      <p>kaufmann.g99@gmail.com</p>
    </div>
  </div>
</section>
