<!DOCTYPE html>
<html>
  <head>
    <title>IMKAUFMANN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/svg+xml" href="/assets/logo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application" %>
    <script src="https://kit.fontawesome.com/f01d8e868a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield(:additional_styles) if content_for? :additional_styles%>
    <%= react_component('NavBar') %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
